<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answers</th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.question_text %></td>
      <td>
        <% question.answers.map(&:answer_text).each do |ans| %>
          <li class="list-group-item"><%= ans %></li>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>